
/* Navegação*/

.container_navegacao{
    padding: 1rem 1rem ;
}
.nav-lista {
    text-decoration: none;
    color: var( --cinza_700);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
.nav-link.active {
    border-radius: 10%;
    background-color: var(--Tertiary);
    color: var(--branco); /* Opcional: mudar a cor do texto */
}

/* Cards do Principal */
.container-principal{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;

   margin: 1rem;
   gap: .5rem;
}

.card_conteudo{
    display: flex; 
    gap: 1rem;
    background-color: var(--superficie_clara);
    padding: 0;
    margin: 0 ;

   
    
}


.card_textual{
    padding-top: .5rem;
    padding-bottom: 1.5rem; 
    background-color: var(--superficie_clara);
    color: var(--cinza-700);
    
}
.card-title{
    font-weight: 900;
    font-size: 160%;
    
}
.card-text{
    font-size: 120%;
    padding-right:1.25rem;
}

.btn-primary{
    background-color: var(--Primary-Destaque);
    border: none;
}
