
/* Navegação*/


.container_navegacao{
    padding: 1rem 1rem ;
}
.nav-lista {
    text-decoration: none;
    color: var( --cinza_700);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
.nav-link.active {
    border-radius: 10%;
    background-color: var(--Tertiary);
    color: var(--branco); /* Opcional: mudar a cor do texto */
}

/* Cards do Principal */

.container-principal{ 
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 0;
      
    gap: 1.5rem;
    margin-bottom: 3rem ;  
   
}

.card{
    border: none;
    width: 90%;    
}
.card_conteudo{
    
    background-color: var(--superficie_clara);
}

.card_img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    
}

.card-title{
    font-weight: 900;
    font-size: 160%;
    padding-bottom: 1.5rem;
    padding-top: 2rem;

}

.card-text{
    height: 60%;
    padding-right: 3rem;
}

/* Cards do Info-carrossel */
.cor-Destaque{
    background-color: var( --Primary);
    padding: 2rem;
}

.card-destaque{ 
    
    display: flex;
    flex-wrap: wrap;
      
    gap: 1rem;
    width: 80%;
    height: 50%;
    
}
.container-item{
    border-end-end-radius: 30px;

    
}

.title-destaque{
    font-weight: 500;
    font-size: 160%;
    padding-top: 1rem;

}
.text-destaque{
    
    padding-top: 1rem;
    padding-bottom: 2rem;
}




.img-thumbnail{
    padding: 1rem;
}
