@import url("../css/cabecalho.css");
@import url("../css/principal.css"); 
@import url("../css/rodape.css");

:root{
    --branco: #FFFFFF;
    --preto: #000000;
    --Primary: #70398C;
    --Primary-Destaque: #EB1EDA;
    --Secundary: #D4E7DB;
    --Tertiary:#30B27F;
    --superficie_clara: #F6F5F2;
    --superficie_verde-claro: #E6EFE9;
    --cinza_700: #323232;
      

}

*{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: #323232;
}


.btn-primary{
    background-color: var(--Primary-Destaque);
    border: none;
    border-radius: 30px;
    padding: 0 1.5rem;
}
.link-botao{
    text-align: right;
    padding-right: 1rem;
}

/* Media Queries */

/* Para telas pequenas */



/* `xs` returns only a ruleset and no media query*/


/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  }

/* `md` applies to small devices (landscape phones, less than 768px) */ 
@media (max-width: 767.98px) {  }

/* `lg` applies to medium devices (tablets, less than 992px)*/ 
@media (max-width: 991.98px) {  }

/* `xl` applies to large devices (desktops, less than 1200px)*/ 
@media (max-width: 1199.98px) {  }

/*`xxl` applies to x-large devices (large desktops, less than 1400px)*/ 
@media (max-width: 1399.98px) {  }


@media (max-width: 768px) {
    .carousel-inner .carousel-item {
      display: flex;
      flex-direction: column;
    }
    .carousel-inner .carousel-item .col-md-4 {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .carousel-inner .carousel-item {
      display: flex;
      flex-direction: row;
    }
    .carousel-inner .carousel-item .col-md-4 {
      flex: 1 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 993px) {
    .carousel-inner .carousel-item {
      display: flex;
      flex-direction: row;
    }
    .carousel-inner .carousel-item .col-md-4 {
      flex: 1 0 33.3333%;
      max-width: 33.3333%;
    }
  }